body{
    background-color: #eeeeee;
}

.btn-vml {
    color: #fff;
    background-color: #31acb4;
    border-color: #31acb4;
}

.btn-vml:hover {
    color: #fff;
    background-color: #31acb4;
    border-color: #2da2aa;
}

.btn-outline-vml {
    color: #31acb4;
    border-color: #31acb4;
}

.btn-outline-vml:hover {
    color: #31acb4;
}
